/* src/assets/styles/fonts.css */
@font-face {
    font-family: 'Oddval';
    src: url('../fonts/Oddval-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  /* Если у вас есть другие начертания этого шрифта, добавьте их здесь */
  